@import "./variable.scss";

.main_container {
    width: 100%;
    background-color: var(--Dark);
    min-height: 100vh;
    @media screen and (min-width: $desktop) {
        padding-top: 130px;
    }
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 62px 24px 94px;
    width: 100%;
    @media screen and (min-width: $tablet) {
        align-items: flex-start;
        min-height: initial;
        padding: 50px 95px 0 40px;
    }
    @media screen and (min-width: $desktop) {
        padding: 0;
        width: 90%;
        margin-left: auto;
    }

    &::before {
        content: "";
        background: url("../public/images/mobile/image-host.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.2;
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}

.header {
    position: relative;
    z-index: 4;
    margin: auto;
    @media screen and (min-width: $tablet) {
        margin: 0;
        margin-right: auto;
        margin-bottom: 150px;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 100px;
        top: -30px;
        left: 0;
    }
}

.main {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 57px;

    @media screen and (min-width: $tablet) {
        max-width: initial;
        padding-top: 92px;
        margin-top: 0;
        text-align: start;
        position: relative;
        z-index: 3;
        background-color: var(--Dark);
    }
    @media screen and (min-width: $desktop) {
        padding-top: 80px;
        width: 60%;
    }
    p {
        margin-top: 16px;
        margin-bottom: 30px;
        @media screen and (min-width: $tablet) {
            margin-top: 30px;
            margin-bottom: 40px;
            max-width: 445px;
        }

        @media screen and (min-width: $desktop) {
            margin-top: 24px;
        }
    }
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    @media screen and (min-width: $tablet) {
        order: 4;
        margin-top: 64px;
        margin-bottom: 0;
        max-width: 540px;
    }
    @media screen and (min-width: $desktop) {
    }
    img {
        height: 14px;
        width: auto;

        @media screen and (min-width: $tablet) {
            height: 20px;
        }
    }
}
.form {
    position: relative;
    width: 100%;

    @media screen and (min-width: $tablet) {
        display: flex;
        order: 3;
        max-width: 430px;
        background-color: var(--LightDark);
        padding: 4px;
        border-radius: 35px;
    }

    &:focus-within {
        outline: max(1px, 0.2em) solid var(--Green);
    }
}
.input {
    width: 100%;
    background-color: var(--LightDark);
    padding: 15px 32px;
    border-radius: 35px;
    outline: none;
    border: none;
    &::placeholder {
        font-family: "chivo";
        font-weight: 400;
        color: var(--White);
        opacity: 0.5;
        font-size: 0.8rem;
    }
}
.button {
    width: 100%;
    border: none;
    font-family: "chivo";
    font-weight: 400;
    font-size: 0.8rem;
    padding: 15px 32px;
    border-radius: 35px;
    background-color: var(--Green);
    margin-top: 16px;

    @media screen and (min-width: $tablet) {
        margin-top: 0;
        max-width: 160px;
        padding: 14px 20px;
    }

    &:hover {
        background-color: var(--LightGreen);
        cursor: pointer;
    }
}

.picture_wrap {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    picture {
        display: flex;
    }
    picture,
    img {
        width: 100%;
        height: 100%;
    }
}

.pattern {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        position: relative;
        margin-top: 150px;
        margin-left: 40px;
    }
    @media screen and (min-width: $desktop) {
        justify-content: flex-end;
        margin: initial;
        margin-left: auto;
        transform: translateY(-52px);
        z-index: 5;
    }
}
.error_message {
    color: var(--Red);
    font-size: 0.7rem;
    position: absolute;
    top: 22%;
    margin-top: 10px;
    margin-left: 32px;
    @media screen and (min-width: $tablet) {
        top: 100%;
    }
}
